.bg-image-home {
    background-image: url("../../public/images/img_couv.jpg");
    height: 450px;
}

#list-chapters-home {
    background-color: #ffffffc9;
}

#home-title {
    color: white;
    text-align: center;
    margin-bottom: 100px;
    /* font-family: 'Meddon', cursive; */
    text-shadow: 1px 2px 2px black;
    letter-spacing: 1px;
}

#biography-title {
    color: black;
    text-shadow: 1px 2px 2px white;
    letter-spacing: 1px;
    font-size: 3rem;
}

#biography-content {
    background-color: white;
    font-size: 1.5rem;
    margin: 110px 110px;
    padding: 20px 20px;
    border-radius: 5px;
}

.bg-image-author {
    background: url("../../public/images/jforteroche.jpg");
    height: 450px;
    background-size: cover;
    margin: 61px 55px;
    box-shadow: 2px 3px 2px black;
}

#bg-navbar-view {
    background-color: #21201ee6;
}

#bg-img-body {
    background: url("../../public/images/oldPaper.jpg") center fixed;
}

#form-connexion {
    margin-top: 120px;
    background-color: white;
    border-radius: 5px;
    height: 420px;
}

#form-register {
    margin-top: 120px;
    background-color: white;
    border-radius: 5px;
    height: 420px;
}

#position-num-chapter {
    font-family: 'Meddon', cursive;
    font-style: italic;
    font-size: 1.4rem;
    color: black;
    position: absolute;
    top: 121px;
    right: 29px;
}

#comment-form {
    background-color: white;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
}

#bloc-form-comment {
    margin: 0 auto;
}

#info-no-comment {
    color: black;
    text-shadow: 1px 2px 2px white;
    font-size: 1.3rem;
    margin-left: 45px;

}

#textaera-form-comment {
    resize: none;
}

#count-comment-reaction {
    color: black;
    margin-top: 15px;
    font-size: 1.2rem;
    margin-left: 45px;
}

#bloc-comment {
    background-color: #ffffffe6;
    margin: 0 auto;

}

.fa-exclamation-triangle {
    color: red;
    font-size: 0.7rem;
}

#btn-report-comment {
    font-size: 0.7rem;
}

.fa-trash-alt {
    color: red;
}

.fa-edit {
    color: orange;
}

.close {
    border: none;
    cursor: pointer;
}

#flash-msg {
    animation-name: flashMessage;
    animation-duration: 1.1s;
    animation-fill-mode: forwards;
}

@keyframes flashMessage {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(-56px);

    }
}