.bg-image-home {
    background-image: url("../../public/images/img_couv.jpg");
    height: 450px;
}

#position-num-chapter {
    font-family: 'Meddon', cursive;
    font-style: italic;
    font-size: 1.4rem;
    color: black;
    position: absolute;
    top: 121px;
    right: 29px;
}